body{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}
a:link{
    color: rgb(148, 212, 28);
    text-decoration: none;
}
a:visited{
    color: rgb(201, 187, 62);
    text-decoration: none;
}
button{
    border: none;
    background-color: rgb(201, 187, 62);
    width: 100px;
    height: 25px;
    transition-duration: 0.5s;
}
button:hover{
    background-color: rgb(124, 117, 48);
    color: rgb(201, 187, 62);
}
.container{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: minmax(100px, auto);
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: start;
}
.quoteBox{
    display: flex;
    align-items: center;
    justify-content: start;
    border-left: 4px solid rgb(201, 187, 62);
    padding: 15px;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 15px;
}
ul{
    list-style-type: circle;
}
#block{
    color: darkgray;
}
#dark{
    background-color: rgb(124, 117, 48);
    border-radius: 50%;
}
#mid{
    background-color: rgb(201, 187, 62);
    border-radius: 50%;
}
#light{
    background-color: rgb(148, 212, 28);
    border-radius: 50%;
}