body {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, 
h2,
h3 {
    font-weight: 900;
    font-stretch: expanded;
}

a:link {
    color: rgb(150, 148, 136);
    text-decoration: none;
}

a:visited {
    color: black);
    text-decoration: none;
}

button {
    border: none;
    width: 100px;
    height: 25px;
    margin: 10px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(150, 148, 136);
    color: rgb(214, 213, 205);
}

ul {
    list-style-type: circle;
}

