body {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

a:link {
    color: rgb(148, 212, 28);
    text-decoration: none;
}

a:visited {
    color: rgb(124, 117, 48);
    text-decoration: none;
}

button {
    border: none;
    background-color: rgb(201, 187, 62);
    width: 100px;
    height: 25px;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(124, 117, 48);
    color: rgb(201, 187, 62);
}

ul {
    list-style-type: circle;
}