
.containerDesign {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: minmax(100px, auto);
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoteBox {
    display: flex;
    align-items: center;
    justify-content: start;
    border-left: 4px solid rgb(150, 148, 136);
    padding: 15px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
}



@media(max-width: 400px) {

    body {
        font-family: 'Abel', sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .container {
        display: grid;
        grid-template-columns: 280px;
        grid-template-areas: 'tpr' 'mn' 'ct' 'ftr';
        justify-content: center;
    }

    .nestedBlog {
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: auto;
        justify-self: center;
    }


    .blogCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 225px;
        width: 85%;
        margin: 20px;
        padding: 10px;
        box-shadow: 2px 4px rgb(231, 231, 231);
        justify-self: center;
    }


    .nestedEntry {
        display: grid;
        /* grid-area: ct; */
        grid-template-columns: 280px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'hd' 'ai' 'ct' 'sh';
        margin: 10px;
        justify-items: center;
        justify-self: center;
    }

    #mobile {
        width: 240px;
    }


}


@media(min-width: 401px) and (max-width: 900px) {

    body {
        font-family: 'Abel', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }

    .container {
        display: grid;
        grid-template-columns: 150px 550px;
        grid-template-rows: 90px auto;
        grid-template-areas: 'tpr tpr' 'mn ct' 'ftr ftr';
        justify-content: center;
    }

    .nestedBlog {
        display: grid;
        /* grid-area: ct; */
        grid-template-columns: 400px;
        grid-template-rows: auto;
        justify-content: center;
        justify-items: center;
    }


    .blogCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 225px;
        width: 85%;
        margin: 20px;
        padding: 10px;
        box-shadow: 2px 4px rgb(231, 231, 231);
    }


    .nestedEntry {
        display: grid;
        /* grid-area: ct; */
        grid-template-columns: 450px;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: 'hd' 'ai' 'ct' 'sh';
        margin: 10px;
        justify-items: center;
        justify-self: center;
    }


}




@media(min-width: 901px) { 

    body {
        font-family: 'Abel', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .container {
    display: grid;
    grid-template-columns: 200px 550px 550px;
    grid-template-rows: 90px auto 200px;
    grid-template-areas: 'tp tpr tpr' 'mn ct ct' 'ft ftr ftr';
    }


    .nestedBlog {
        display: grid;
        /* grid-area: ct; */
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        justify-items: center;
    }


    .blogCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 225px;
        width: 85%;
        margin: 20px;
        padding: 10px;
        box-shadow: 2px 4px rgb(231, 231, 231);
    }


    .nestedEntry {
        display: grid;
        /* grid-area: ct; */
        grid-template-columns: 1100px;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: 'hd' 'ai' 'ct' 'sh';
        justify-items: center;
        justify-self: center;
    }


}




.header {
    grid-area: tpr;
}

.menu {
    grid-area: mn;
    justify-content: flex-start;
    flex-direction: column;
}

.content {
    grid-area: ct;
}

.footer {
    grid-area: ftr;
    flex-direction: column;
    justify-content: center;
}



.headerEntry {
    grid-area: hd;
}

.authorEntry {
    grid-area: ai;
}

.contentEntry {
    grid-area: ct;
    flex-direction: column;
}

.shareEntry {
    grid-area: sh;
}